#include "kpmwrc.h"

DLGTEMPLATE ID_KPMW
BEGIN
    DIALOG "KPMWin App", 100, 6, 52, 246, 114, 0, FCF_SYSMENU | FCF_TITLEBAR
     BEGIN
          PUSHBUTTON "Cancel", DID_CANCEL, 98, 8, 51, 14
          CONTROL "Index", IDT_KPMW_INDEX, 0, 98, 246, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
          CONTROL "Filename", IDT_KPMW_FILENAME, 0, 77, 246, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
          CONTROL "Unknown", IDT_KPMW_STATUS, 0, 56, 246, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
          CONTROL "Unknown", IDT_KPMW_SPEED, 0, 35, 246, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
     END
END

